@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;800&display=swap');

/* definição de variaveis no CSS... podemos usar o :root no começo do código, e obrigatoriamente toda variavel tem que começar com -- */
:root {
  --main-color: #D08C60;
  --accent-color: #D9AE94;
  --primary-color: #9B9B7A;
  --background-color: #997B66;
}

body {
  background-color: var(--background-color);
}



/*Estilos da página index.html*/
.center {
  text-align: center;
}

.justify{
  text-align: justify;
}

.container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}  
/*Menu home e contato*/
#menu li {
  display: inline;
  padding: 20px;
  background-color: var(--primary-color);
  padding: 0.75rem;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 2rem; 
  font-size: 1.5rem;
  letter-spacing: 2px; /* colocar um espaçamento maior entre as letras do texto, muito usado para criar um ponto de interesse no design */ 
  font-weight: 600;
  
}
h1,
h2{

  text-align: center;
}

h1 {
  font-size: 3rem; /* 1REM = 16px para configurações padrão de navegador, mas o REM sempre vai respeitar a fonte padrão do navegaor do usuario */ 
}

h1:hover {
  text-shadow: var(--main-color) 2px 5px; /* sombra no texto, sempre com cor, valor horizontal e valor vertical */
}


#menu li a {
  text-decoration: none;
  color: var(--accent-color);
  font-size: 25px;
}

#menu li a:hover {
  color: var(--main-color);
}

.p-30 {
  padding: 30px;
  font-size: 18px;
  color: var(--accent-color);
  gap: 1.25rem;
  width: 70%;
  font-size: 1.25rem;
  font-weight: 300;
  user-select: none; 
}

.br-50 {
  border-radius: 50%;
  
}

.wh-300{
  width: 300px;
  height: 300px;
  
}

.tm-social {
  width: 50px;
  height: 50px;
}

.mb-50{
  margin-bottom: 50px;
}

.img{
  border-radius: 0.5rem;
  border: 2px solid var(--accent-color);
}


/*Estilos da página contato.html*/

.ml-50 {
  margin-left: 50px;
}